.container__content{
  background: var(--whiteColor);
  border-radius: 4px;
  box-shadow: 0 0 10px var(--whiteColor);
  display: flex;
  height: 80%;
  position: relative;
  width: 80vw;
  z-index: 2;
}

.main {
  padding: 30px;
}

@media screen and (min-width: 1200px){
  .container__content{
    width: 60vw;
  }
}