.container__content{
  background: var(--whiteColor);
  border-radius: 4px;
  box-shadow: 0 0 10px var(--whiteColor);
  display: flex;
  height: 80%;
  position: relative;
  width: 80vw;
  z-index: 2;
}

.main {
  padding: 30px;
}

.main-city {
  background: #e8e8e8;
  width: 100%;
}

.main-placeholder {
  width: 100%;
}

@media screen and (min-width: 1200px){
  .container__content{
    width: 60vw;
  }
}

@media screen and (max-width: 1199px){
  .container__content{
    height: 100%;
    width: 100%;
  }
}